bin/
obj/

.vs/
.vscode/

*.user

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.v3.ncrunchsolution
*.v3.ncrunchsolution.user

# NuGet Packages
*.nupkg
packages/
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Paket dependency manager
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# NuGet packages distributables
dist/

# Ionide cache
.ionide/

# Paket tool store
.paket/.store
.paket/paket

# MS Visio
*.~vsdx

target/
